<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <style>@import url(/blog/public/css/syntax/{{ site.highlighter-theme }}.css);</style>
  <title>{{ site.title }}</title>
  <!-- <link href="/public/css/bootstrap.min.css" rel="stylesheet"> -->

  <link href="{{ "/public/css/style.css" | relative_url }}" rel="stylesheet">
  <body>
  	<div class="container"> 
		<div class="sidebar">
			{% include sidebar.html %}
		</div>
		<div class="content">
			{{ content }}
		</div>
		<div class="toc">
			<div class="toc-header">目次</div>
			{% capture itemClass %}toc-entry-toc-h%level%{% endcapture %}
			{% include toc.html html=content class="ul-level-class" submenu_class="submenu-%level%" item_class=itemClass h_max=2 %}
		</div>
	</div>
  </body>
</html>