<article class="post">
	<header class="post-header">
		<div class="post-title"> 
			{{ page.title | escape }}
		</div>
		<time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{%- assign date_format = site.date_forma | default: "%Y/%m/%d" -%}
			{{ page.date | date: date_format }}
		</time>		
	</header>

	<div class="post-content">
		{{ content }}
	</div>
</article>

</div>


<div class="toc">
  <div class="toc-header">目次</div>
  {% capture itemClass %}toc-entry-toc-h%level%{% endcapture %}
  {% include toc.html html=content class="ul-level-class" submenu_class="submenu-%level%" item_class=itemClass h_max=2 %}
</div>